[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.8"
psycopg = "==3.1.15"
langchain = "0.0.350"
openai = "1.6.0"
python-dotenv = "*"
tweepy = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
